<div class="container">
    <mat-card>
        <mat-card-content>
            <div>
                <span class="title">Cliente:</span>
                <span>{{' ' + clientData.name + ' ' +clientData.lastName }}</span>
            </div>
            <div>
                <span class="title">Telefono:</span>
                <span>{{' ' + clientData.phone }}</span>
            </div>
            <div>
                <span class="title">Dirección:</span>
                <span>{{' ' + clientData.address }}</span>
            </div>
            <div>
                <span class="title">Empresa:</span>
                <span>{{' ' + clientData.company }}</span>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="formgroup">
        <div class="form-container" >
            <div class="form" *ngFor="let order of orders.orders; let i = index">
                <div class="buttons-container">
                    <button mat-flat-button color="primary">{{i+1}}</button>
                    <button id="delete-button" mat-flat-button color="warn" (click)="deleteOrder(order._id, i)"  [disabled]="balance - order.price < 0" ><i class="fa-solid fa-trash"></i></button>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input matInput [value]="order.title" readonly>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Precio</mat-label>
                    <span matTextPrefix>$</span>
                    <input matInput [value]="order.price" readonly>
                </mat-form-field>
                <mat-form-field class="description" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput [value]="order.description" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="balance-container">
            <mat-form-field appearance="fill">
                <span matTextPrefix >$</span>
                <mat-label>Subtotal</mat-label>
                <input matInput [value]="subtotal" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Descuento</mat-label>
                <span matTextPrefix >%</span>
                <input matInput [value]="orders.discount" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <span matTextPrefix >$</span>
                <mat-label>Total</mat-label>
                <input matInput [value]="total" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Adelanto</mat-label>
                <span matTextPrefix >$</span>
                <input matInput [value]="totalAdvances" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <span matTextPrefix >$</span>
                <mat-label>Saldo</mat-label>
                <input matInput [value]="balance" readonly>
            </mat-form-field>
        </div>
        <div class="confirm-btn-container">
            <button mat-flat-button color="primary" (click)="openAdvanceDialog()" > Añadir Adelanto</button>
            <button mat-flat-button color="warn" (click)="openCompleteDialog()" > Completar Pedido </button>
        </div>
    </div>
</div>