.container{
    width: 100%;
    margin-top: 2.4vh;
    display: flex;
    justify-content: center;
}

mat-form-field{
    width: 50%;
}

.mat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid{
    color: grey;
    font-size: 17px;
}

.button-clear{
    margin-right: 0.7vw;
    border: none;
    cursor: pointer;
}