table{
    margin-top: 0.2vh;
}

.mat-mdc-paginator{
    display: flex;
    justify-content: center;
}

mat-paginator ::ng-deep .mat-mdc-paginator-range-label{
    display: none;
}

mat-paginator ::ng-deep .mat-mdc-paginator-range-label{
    display: none;
}

.mat-mdc-card{
    box-shadow: 0px 0px 0px 0px;
}

.mat-mdc-card-content:last-child{
    padding: 0px;
}

mat-card-content{
    align-self: center;
    color: rgb(197, 197, 197);
}
