<div class="container">
    <h1 color="primary" class="header" mat-dialog-title>Nuevo Cliente</h1>
    <div mat-dialog-content>
        <form [formGroup]="newClient">
            <div>
                <mat-form-field appearance="fill" class="row-input">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="name" matInput autofocus>
                    <mat-error *ngIf="nameControl.hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="row-input">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="lastName" matInput>
                    <mat-error *ngIf="lastNameControl.hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="row-input">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="phone" matInput onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                    <mat-error *ngIf="phoneControl.hasError('minlength')">Numero invalido</mat-error>
                    <mat-error *ngIf="phoneControl.hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="row-input">
                    <mat-label>Empresa</mat-label>
                    <input formControlName="company" matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Dirección</mat-label>
                    <input formControlName="address" matInput>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" (click)="closeDialog()">Descartar</button>
        <button mat-button color="primary" (click)="sendClient()" [disabled]="!newClient.valid" >Confirmar</button>
    </div>
</div>