.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-mdc-dialog-actions{
    display: flex;
    justify-content: center;
    padding: 1.5vh;
}

mat-form-field{
    margin-inline: 10px;
}

.full-width{ 
    margin-inline: 0px;
    width: 100%;
}

@media (max-width: 1000px) {
    .row-input{
        margin-inline: 0px;
        width: 100%;
    }
  }