.form{
    margin-top: 2vh;
}

.buttons-container{
    display: flex;
    justify-content: center;
}

.form mat-form-field{
    margin-inline: 1vw;
}

.text-container{
    display: flex;
    justify-content: center;
}