.container{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    background-color: rgb(40, 102, 196);
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card{
    max-width: 350px;
    padding: 1vw;
}

.backgroundImg{
	opacity: 15%;
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 100vh;
	width: 100vw;
	object-fit: cover;
	mix-blend-mode: luminosity;
}

mat-card-header{
    display: flex;
    justify-content: center;
}

mat-card-content{
    margin-top: 1vh;
}

mat-card-actions{
    display: flex;
    justify-content: center;
}

.login-btn{
    width: 70%;
}

mat-form-field {
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }