<div class="container">
    <mat-card>
        <mat-card-content>
            <div>
                <span class="title">Cliente:</span>
                <span>{{' ' + clientData.data.name + ' ' +clientData.data.lastName }}</span>
            </div>
            <div>
                <span class="title">Telefono:</span>
                <span>{{' ' + clientData.data.phone }}</span>
            </div>
            <div>
                <span class="title">Dirección:</span>
                <span>{{' ' + clientData.data.address }}</span>
            </div>
            <div>
                <span class="title">Empresa:</span>
                <span>{{' ' + clientData.data.company }}</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>
