<div class="container">
    <mat-card>
        <mat-card-content>
            <div>
                <span class="title">Cliente:</span>
                <span>{{' ' + clientData.data.name + ' ' +clientData.data.lastName }}</span>
            </div>
            <div>
                <span class="title">Telefono:</span>
                <span>{{' ' + clientData.data.phone }}</span>
            </div>
            <div>
                <span class="title">Dirección:</span>
                <span>{{' ' + clientData.data.address }}</span>
            </div>
            <div>
                <span class="title">Empresa:</span>
                <span>{{' ' + clientData.data.company }}</span>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="formgroup" [formGroup]="orderForm">
        <div class="form-container" formArrayName="orders">
                <div class="form" *ngFor="let order of ordersControls.controls; let i = index" [formGroupName]="i">
                    <div class="buttons-container">
                        <button mat-flat-button color="primary">{{i+1}}</button>
                        <button id="delete-button" mat-flat-button color="warn" (click)="deleteOrder(i)"  [disabled]="orderForm.get('orders').value.length <= 1" ><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Titulo</mat-label>
                        <input matInput formControlName="title">
                        <mat-error *ngIf="order.get('title').hasError('required')" >Campo obligatorio</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Precio</mat-label>
                        <span matTextPrefix *ngIf="order.get('price').value" >$</span>
                        <input matInput onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" formControlName="price">
                        <mat-error  *ngIf="order.get('price').hasError('required')" >Campo obligatorio</mat-error>
                        <mat-error  *ngIf="order.get('price').hasError('min')" > Valor minimo $100 </mat-error>
                    </mat-form-field>
                    <mat-form-field class="description" appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="description">
                        <mat-error  *ngIf="order.get('description').hasError('required')" >Campo obligatorio</mat-error>
                    </mat-form-field>
                </div>
            <div class="add-btn-container">
                <button mat-icon-button color="primary" type="button" (click)="addOrder()"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="balance-container">
            <mat-form-field appearance="fill">
                <span *ngIf="getSubtotal()"  matTextPrefix >$</span>
                <mat-label>Subtotal</mat-label>
                <input matInput [value]="getSubtotal()" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Descuento</mat-label>
                <span *ngIf="orderForm.get('discount').value"  matTextPrefix >%</span>
                <input matInput onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" formControlName="discount">
                <mat-error  *ngIf="orderForm.get('discount').hasError('max')">Limite Excedido</mat-error>
                <mat-error  *ngIf="orderForm.get('discount').hasError('required')">Campo obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <span *ngIf="getTotal()"  matTextPrefix >$</span>
                <mat-label>Total</mat-label>
                <input matInput [value]="getTotal()" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Adelanto</mat-label>
                <span *ngIf="advance.value"  matTextPrefix >$</span>
                <input matInput onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [formControl]="advance">
                <mat-error  *ngIf="advance.hasError('required')">Campo obligatorio</mat-error>
                <mat-error  *ngIf="advance.hasError('max')">Limite Excedido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <span *ngIf="balance.value !== null"  matTextPrefix >$</span>
                <mat-label>Saldo</mat-label>
                <input matInput [value]="balance.value" [formControl]="balance" readonly>
            </mat-form-field>
        </div>
        <div class="confirm-btn-container">
            <button mat-flat-button color="primary" (click)="confirm()" [disabled]="!orderForm.valid || !advance.valid || balance.value < 0" >Confirmar</button>
            <button mat-flat-button color="warn" (click)="clearForm()" >Limpiar</button>
        </div>
    </div>
</div>