.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    min-height: 87vh;
}

.budget-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width{
    width: 50%;
    max-width: 400px;
}

.items-container{
    width: 100%;
    margin-bottom: 2vh;
}

.items-container mat-form-field{
    margin-inline: 1vw;
}

.header{
    display: flex;
    justify-content: center;
}

.text-area{
    width: 96%;
}

.add-btn-container{
    display: flex;
    justify-content: center;
}

.item{
    width: 70%;
    max-width: 700px;
}

.price{
    width: 30%;
    max-width: 300px;
}

.download-btn{
    margin-top: 3vh;
}

.btn-container button{
    margin-inline: 1vw;
}