.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    min-height: 85vh;
}

.budget-container{
    width: 60%;
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width{
    width: 50%;
    max-width: 400px;
}

.items-container{
    width: 100%;
    margin-bottom: 2vh;
}

.items-container mat-form-field{
    margin-inline: 1vw;
}

.header{
    display: flex;
    justify-content: center;
}

.text-area{
    width: 96%;
}

.add-btn-container{
    display: flex;
    justify-content: center;
}

.item{
    width: 70%;
    max-width: 700px;
}

.price{
    width: 30%;
    max-width: 300px;
}

.download-btn{
    margin-top: 3vh;
}

.btn-container button{
    margin-inline: 1vw;
}

#delete-button{
    margin-left: 1.7vw;
    padding: 0px;
    width: 2vw;
    height: 6vh;
    font-size: 1rem;
    background-color: white;
    color: rgb(148, 148, 148);
    border: none;
    border-radius: 10%;
}

#delete-button:active{
    color: red;

}
