mat-toolbar{
    display: flex;
    justify-content: space-between;
}

mat-sidenav-container{
    height: 92.7vh;
}

mat-sidenav{
    padding-inline: 0px;
    width: 18vw;
}

mat-list-item button{
    width: 18vw;
}

mat-list-item{
    display: flex;
    flex-direction: column;
}

.mdc-list{
    padding: 0px;
}

.fa-solid{
    font-size: 13px;
}

.menu-btn span{
    margin-left: 8px;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-color: white;
}

.navside-btn{
    border: none;
    background-color: white;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
}

.navside-btn:hover{
    background-color: whitesmoke;
}

.active:hover{
    background-color: #3f51b5;
}

.active{
    background-color: #3f51b5;
    color: white;
}

.navside-btn i{
    font-size: 1.5rem;
    width: 80px;
}

@media (max-width: 600px) {
    .navside-btn span {
      display: none;
    }
  }