mat-toolbar{
    display: flex;
    justify-content: space-between;
}

mat-sidenav-container{
    height: 92.7vh;
}

mat-sidenav{
    padding: 1vw;
    padding-inline: 0px;
    width: 20vw;
}

mat-list-item button{
    width: 22vw;
}

mat-list-item{
    display: flex;
    flex-direction: column;
}

.fa-solid{
    font-size: 13px;
}

.menu-btn span{
    margin-left: 8px;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-color: white;
}
