<div class="document">
    <div class="header">
        <h1>PRESUPUESTO</h1>
        <img src="assets/img/fc png.png" alt="">
    </div>
    <div class="basic-info">
        <div  [class.mat-elevation-z8]="true" class="client">
            <h2>Mas Brillo (Vaqueros)</h2>
        </div>
        <div  class="date">
            <h2>Marzo 10, 2023</h2>
        </div>
    </div>
    <div [class.mat-elevation-z8]="true" class="details-container">
        <div class="item-container">
            <div class="title-price">
                <p>Vinilo Impreso</p>
                <p>$5000</p>
            </div>
            <div class="description">
                <p>1,9 x 0,9 con instalacion en vidriera posterior a limpiar adhesivos anteriores</p>
            </div>
            <div class="divider"></div>
        </div>
        <div class="item-container">
            <div class="title-price">
                <p>Vinilo Impreso</p>
                <p>$5000</p>
            </div>
            <div class="description">
                <p>1,9 x 0,9 con instalacion en vidriera posterior a limpiar adhesivos anteriores</p>
            </div>
            <div class="divider"></div>
        </div>
        <div class="item-container">
            <div class="title-price">
                <p>Vinilo Impreso</p>
                <p>$5000</p>
            </div>
            <div class="description">
                <p>1,9 x 0,9 con instalacion en vidriera posterior a limpiar adhesivos anteriores</p>
            </div>
            <div class="divider"></div>
        </div>
    </div>
    <div class="footer">
        
    </div>
</div>
